<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaQFs5Dyra3D2krqtkVSedT6VNy2eRv3s</string>
	<key>GCM_SENDER_ID</key>
	<string>29755818133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techstack.SwiftUiMovieDb</string>
	<key>PROJECT_ID</key>
	<string>moviemania-53baa</string>
	<key>STORAGE_BUCKET</key>
	<string>moviemania-53baa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29755818133:ios:73dce8fef0ee107d1bdb9c</string>
</dict>
</plist>